<div class="row">

    <div class="col-6 m-auto">
        <div class="container mt-5 pl-5">
        <h2 class="text-center">Login</h2>
        <form action="/login" method="post">
        {{#if loginErr}}
        <p class="error">{{loginErr}} </p>
        {{/if}}
            <div class="form-group">
                <label >email address</label>
                <input type="email" class="form-control" name="Email" placeholder="enter email">

            </div>
            <div class="form-group mb-5">
                <label for=""> password</label>
                    <input type="password" class="form-control" name="Password" placeholder="password">
                    </div>
                    <a style="m-2" href="signup">Create new account</a>
                    <button type="submit" class="btn btn-primary  float-end">Login</button>
        </form>

    </div>
</div>
</div>
